body{
  background-color: ivory;
  font-family: 'Nunito', sans-serif;
}

.navbar-brand{
  font-family: 'Lobster Two';
  font-size: x-large;
}

.hide{
  color:yellow;
}
@media screen and(max-width:900px){
  .hide{
    color: black;
  }

.text-muted{
  display: none;
}
.panel-body{
  border: 2px solid red;
}
.form{
  border: 2px solid red;
}
.form{
  font-weight: bold;
  border: 2px solid yellow;
  padding-top: 2em !important;
}
