{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="padding:20%">
          <h1><span class="weokam">Instapic</span></h1>
          <a href="accounts/login"><button type="button" name="button" class="btn btn-outline-info" >Click here to continue</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


{%endblock%}
