{%extends 'all-posts/base.html'%}

{% block content %}
{{block.super}}
  <h1 class="text-center">Hey there fellas!</h1>

  <div class="container">
    <div class="card" style="width: 25rem;">

      <div class="card-header">
        <h5 class="card-title">Saudahabib</h5>
      </div>
      <img src="https://images.pexels.com/photos/1282270/pexels-photo-1282270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="dummy" width="100%">

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>saudahabib:</b> No caption. Just feelin cute today!</li>
        </ul>
      </div>
    </div>
  </div>



{% endblock %}
