{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{profile.profile_photo.url}}" alt="bikcha" width="150px" height="150px" class="rounded-circle">
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="yass">
        <div class="ok">
          {{profile.username}}
        </div>
        <div class="button">
          <a href="#"><button type="button" name="button" class="bg-light">Edit profile</button></a>
        </div>
        <div class="cog">
          <i class="fas fa-cog"></i>
        </div>
      </div>
    {{profile.bio}}
      </div>
    </div>
    <div class="row">

    </div>
  </div>


{% endblock %}
